<mat-card>
  <mat-card-title>Excluir Dívida</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput [value]="debt.user.name" name="idUser" disabled />
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="debt.reason" name="reason" disabled />
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="debt.date" name="date" disabled />
    </mat-form-field>
    <mat-form-field>
      <input matInput [value]="debt.value" name="value" disabled />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deletedebt()" color="warn">
    Excluir
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
