<div>
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <h1 class="app-name">Sistema de gerenciamento de dívidas</h1>
  </mat-toolbar>
  <mat-sidenav-container class="container">
    <mat-sidenav
      #snav
      opened
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/">
          <i class="material-icons">home</i>
          Início
        </a>
        <a mat-list-item routerLink="/debts">
          <i class="material-icons">attach_money</i>
          Dívidas
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
